* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

.advertiser {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.adv_img {
    height: 30px;
}

.adv_text {
    font-size: 14px;
    font-weight: 400;
}